<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" th:fragment="footer">
        <div class="col mb-3"> <a href="/"
                class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a>
        </div>
        <div class="col mb-3"></div>
        <div class="col mb-3" >
            <h5 class="nav flex-column ms-auto" style="align-items: flex-end;">Links:</h5>
            <ul class="nav flex-column ms-auto" style="align-items: flex-end;">
                <li class="nav-item mb-2">
                    <a href="/" class="nav-link p-0 d-flex justify-content-start align-items-center w-100" style="gap: 8px;">
                        <img src="/img/alterar.png" alt="Início" style="width: 22px; height: 22px; display: inline-block; vertical-align: middle;">
                        <span style="display: inline-block; vertical-align: middle;">Página de Início</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a href="/cadastrar" class="nav-link p-0 d-flex justify-content-start align-items-center w-100" style="gap: 8px;">
                        <img src="/img/cadastrar.png" alt="Cadastro" style="width: 22px; height: 22px; display: inline-block; vertical-align: middle;">
                        <span style="display: inline-block; vertical-align: middle;">Página de Cadastro</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col mb-3">
            <ul>
                <li class="contatof" style="list-style: none;">
                    <a>Caso queira entrar em contato com nossa equipe, envie um e-mail para contato@exemplo.com</a>
                </li>
            </ul>
        </div>
    </footer>
</div>