<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta name="author" content="Isac Da Costa Brito" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../css/estilos_alterar.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/alterar.png" alt="Ícone início" width="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Alteração do Usuário</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <!-- CONTAINER -->
    <div class="container">
        <h1>ALTERAR DADOS DO USUÁRIO</h1>
        <hr>

        <form method="POST">
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nome Completo:</span>
                        <input type="text" name="nome" class="form-control" placeholder="Informe seu nome completo" id="nome" th:value="${usuario.nome}" required>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">CPF:</span>
                        <input type="text" name="cpf" class="form-control" placeholder="000.000.000-00" id="cpf" th:value="${usuario.cpf}" required>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Email:</span>
                        <input type="text" name="email" class="form-control" placeholder="Informe seu email" th:value="${usuario.email}" id="email" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-2">
                    <button type="submit">ALTERAR</button>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <button type="submit" th:href="@{'/listarUsuarios'}">CANCELAR</button>
                </div>
            </div>
                
                
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <script src="js/mask.js"></script>
</body>
</html>