<!doctype html>
<html lang="pt-br">

<head>
    <meta name="author" content="Isac Da Costa Brito" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="css/estilos_index.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="img/java.png" alt="Ícone início" width="50" style="background-color: white;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrar">Cadastrar Pessoa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" are-current="page" href="/listarUsuarios">Lista de Usuários</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <h1>TUDO SOBRE CRUD</h1>
    <br> <br>
    <div class="container">

        <!-- ROW 1 -->

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <figure>
                    <img src="img/crud_2.webp" alt="Imagem do CRUD" class="img-fluid rounded">
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <h2>O QUE É CRUD?</h2>
                <p>
                    CRUD é um acrônimo que representa as quatro operações básicas usadas para manipular dados em
                    sistemas de informação, bancos de dados ou aplicações web. Essas operações são:
                </p>
                <p>
                    ​◽​​ Create (Criar);
                </p>
                <p>
                    ​◽​​ Read (Ler);
                </p>
                <p>
                    ​◽​​ Update (Atualizar);
                </p>
                <p>
                    ​◽​ Delete (Deletar);
                </p>
                <p>
                    Essas operações são a base para qualquer sistema que trabalhe com armazenamento e gerenciamento de
                    dados.
                </p>
            </div>
        </div>

        <!-- ROW 2 -->

        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <h2>OPERAÇÕES DO CRUD:</h2>
                <p>
                    Cada operação do CRUD detalhada:
                    <br><br>
                    1◽ Create (Criar):
                    <br>
                    É a operação que adiciona um novo dado ou registro ao banco de dados.<br>
                    Exemplo: Cadastrar um novo usuário, adicionar um produto, criar uma nova postagem.
                    <br><br>
                    2◽ Read (Ler)
                    <br>
                    É a operação que busca e exibe dados existentes.<br>
                    Pode ser uma busca por um dado específico ou uma listagem.<br>
                    Exemplo: Exibir a lista de usuários cadastrados, buscar um produto pelo nome.
                    <br><br>
                    3◽ Update (Atualizar)
                    <br>
                    Alterar dados já existentes.<br>
                    Exemplo: Editar o endereço de um usuário, atualizar o preço de um produto.
                    <br><br>
                    4◽ Delete (Excluir)
                    <br>
                    Remover dados do banco.<br>
                    Exemplo: Excluir um usuário da base, apagar uma postagem.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="img/crud.png" alt="Crud Explicado" class="img-fluid rounded"> <br><br>
                <img src="img/crud_4.jpg" alt="Crud Explicado 2" class="img-fluid rounded"> <br><br><br>
            </div>
        </div>

        <!-- ROW 3 -->

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="img/crud_3.png" alt="Crud Explicado no Banco" class="img-fluid rounded">
                <br><br>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <h2>POR QUE O CRUD É IMPORTANTE?</h2>
                <p>
                    Simplicidade: Ele define claramente o que pode ser feito com os dados;
                    <br><br>
                    Universalidade: Quase todo sistema que manipula dados precisa dessas operações;
                    <br><br>
                    Organização: Facilita a construção e entendimento do sistema;
                    <br><br>
                    Manutenção: Facilita atualizações e modificações futuras.
                </p>
            </div>
        </div>
        <!-- ROW 4 -->
        <div class="row">
            
            <div class="col-12 col-md-6 col-lg-8">
                <h2>ONDE O CRUD É USADO?</h2>
                <p>
                    Bancos de dados relacionais (MySQL, PostgreSQL, SQL Server);
                    <br><br>
                    APIs RESTful (HTTP geralmente usa métodos CRUD: POST, GET, PUT/PATCH, DELETE);
                    <br><br>
                    Sistemas de gestão, aplicativos móveis, sites e etc.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="img/crud_5.avif" alt="CRUD em site" class="img-fluid rounded">
                <br><br>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

</body>

</html>