<!doctype html>
<html lang="pt-br">

<head>
    <meta name="author" content="Isac Da Costa Brito">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar Desaparecido</title>
    <link rel="shortcut icon" type="image/img" href="img/cadastrar.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="css/estilos_cadastro.css" rel="stylesheet" type="text/css" media="all">

</head>

<body data-bs-theme="dark">
    <header th:replace="fragments/navbar :: navbar"></header>
    <main>
        <div class="container">
            <div style="text-align: center;">
                <h1 class="titulo" style="text-align: center;">CADASTRO DO DESAPARECIDO</h1>
            </div>
            <br>
            <form th:action="@{/cadastrar}" method="post" enctype="multipart/form-data">
                <!-- ROW 1 -->
                <h1 class="pessoa">SOBRE A PESSOA</h1>
                <br>
                <div class="row">
                    <div class="dados">
                        <h2 class="dados"> DADOS DA PESSOA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Nome:</span>
                            <input type="text" name="nome" id="nome" class="form-control"
                                placeholder="Nome do desaparecido" maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">CPF:</span>
                            <input type="text" name="cpf" id="cpf" class="form-control" maxlength="14"
                                placeholder="000.000.000-00" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data de Nascimento:</span>
                            <input type="text" name="dataNascimento" id="dataNascimento" class="form-control"
                                maxlength="10" placeholder="dd/mm/aaaa" required>
                            <span id="erroDataNascimento" style="color: red; display: none;">Data de nascimento
                                inválida!</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Genero:</span>
                            <input type="text" name="genero" id="genero" class="form-control" maxlength="255" required>
                        </div>
                    </div>
                </div>

                <!-- ROW 2 -->
                <div class="row">
                    <div class="caracteristicas">
                        <h2 class="caracteristicas">CARACTERISTICAS DA PESSOA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Altura:</span>
                            <input type="text" name="altura" id="altura" class="form-control" placeholder="Ex: 1.70"
                                maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Peso:</span>
                            <input type="text" name="peso" id="peso" class="form-control" placeholder="Ex: 70kg"
                                maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor dos olhos:</span>
                            <input type="text" name="cOlho" id="cOlho" class="form-control"
                                placeholder="Azul, castanho, etc" maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor do cabelo:</span>
                            <input type="text" name="cCabelo" id="cCabelo" class="form-control"
                                placeholder="Informe a cor do cabelo." maxlength="255" required>
                        </div>
                    </div>
                </div>
                <!-- ROW 3 -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor da Pele:</span>
                            <input type="text" name="cPele" id="cPele" class="form-control"
                                placeholder="Informe a cor da pele." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Sinais:</span>
                            <input type="text" name="sinais" id="sinais" class="form-control"
                                placeholder="Pintas, cicatrizes e etc" maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Roupas:</span>
                            <input type="text" name="roupa" id="roupa" class="form-control"
                                placeholder="Roupa que usava antes de desaparecer." maxlength="255" required>
                        </div>
                    </div>
                </div>

                <!-- ROW 4 (LOCAL DE DESAPARECIMENTO) -->
                <br>
                <h1 class="sDesaparecimento">SOBRE O DESAPARECIMENTO</h1>
                <br>
                <h2 class="local">LOCAL:</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">CEP:</span>
                            <input type="text" name="cep" id="cep" class="form-control" maxlength="9"
                                placeholder="00000-000" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Estado:</span>
                            <input type="text" name="estado" id="estado" class="form-control"
                                placeholder="Informe o Estado." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cidade:</span>
                            <input type="text" name="cidade" id="cidade" class="form-control"
                                placeholder="Informe a Cidade." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Bairro:</span>
                            <input type="text" name="bairro" id="bairro" class="form-control"
                                placeholder="Informe o bairro." maxlength="255" required>
                        </div>
                    </div>
                </div>
                <!-- ROW 5 -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Logradouro:</span>
                            <input type="text" name="logradouro" id="logradouro" class="form-control"
                                placeholder="Informe o logradouro." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Complemento:</span>
                            <input type="text" name="complemento" id="complemento" class="form-control"
                                placeholder="Ponto de referencia, detalhes especificos." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Numero:</span>
                            <input type="text" name="numero" id="numero" class="form-control" placeholder="Numero."
                                maxlength="255" required>
                        </div>
                    </div>
                    <div class="conferir">
                        <h3 class="conferir">CONFIRA SE O ENDEREÇO ESTÁ CORRETO!!!!</h3>
                    </div>
                </div>

                <!-- ROW 6 -->
                <div class="row">
                    <div class="circunstancias">
                        <h2 class="circunstancias">CIRCUNSTANCIAS E DATA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Circunstancias:</span>
                            <input type="text" name="circunstancias" id="circunstancias" class="form-control"
                                placeholder="Ex: Estava saindo da escola. Indo trabalhar, etc." maxlength="255"
                                required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data do Desaparecimento:</span>
                            <input type="text" name="dataDesaparecimento" id="dataDesaparecimento"
                                placeholder="dd/mm/aaaa" maxlength="10" class="form-control" required>
                            <span id="erroDataDesaparecimento" style="color: red; display: none;">Data de
                                desaparecimento inválida!</span>
                        </div>
                    </div>
                </div>

                <!-- ROW 8 (sem row 7 pq não fecho com o numero 7)-->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Complemento:</span>
                            <input type="text" name="complementoCaso" id="complementoCaso" class="form-control"
                                placeholder="Ex: Gostos da pessoa, pessoas proximas, etc." maxlength="255" required>
                        </div>
                    </div>
                </div>

                <!-- ROW 9 -->
                <div class="row">
                    <div class="contato"> <br>
                        <h2 class="contato">CONTATO:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Email:</span>
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Email para contato." maxlength="255" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Telefone:</span>
                            <input type="tel" name="telefone" id="telefone" maxlength="15" class="form-control"
                                placeholder="Telefone para contato." required>
                        </div>
                    </div>
                </div>

                <!-- ROW 10 -->
                <div class="row">
                    <div class="foto"> <br>
                        <h2 class="foto">ENVIE UMA IMAGEM DA PESSOA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-10">
                        <div class="input-group mb-3">
                            <span for="foto" class="input-group-text">Foto(Priorize enviar do rosto):</span>
                                <input class="form-control" name="arquivoFoto" accept=".jpg,.jpeg,.png" type="file" id="foto" required />
                            <label for="foto" class="form-control">Selecione uma foto do rosto (JPEG ou PNG)</label>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="Registrado." name="status">
                <button type="submit">CADASTRAR PESSOA</button>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>



    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <script src="js/mascaras.js"></script>
    <script src="js/apiCep.js"></script>
    <script src="js/validacaoNascimento.js"></script>
    <script src="js/activeNav.js"></script>
</body>

</html>