<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta name="author" content="Isac Da Costa Brito">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desaparecimento</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../css/estilos_cadastro.css" rel="stylesheet" type="text/css" media="all">

</head>

<body data-bs-theme="dark">
    <header th:replace="fragments/navbarInformacoes :: navbar"></header>
    <main>
        <div class="container">
            <div style="text-align: center;">
                <h1 class="titulo" style="text-align: center;">CADASTRO DO DESAPARECIDO</h1>
            </div>
            <br>
                <!-- ROW 1 -->
                <h1 class="pessoa">SOBRE A PESSOA</h1>
                <br>
                <div class="row">
                    <div class="dados">
                        <h2 class="dados"> DADOS DA PESSOA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Nome:</span>
                            <span class="input-group-text" th:text="${desaparecido.nome}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">CPF:</span>
                            <span class="input-group-text" th:text="${desaparecido.cpf}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data de Nascimento:</span>
                            <span class="input-group-text" th:text="${desaparecido.dataNascimento}"></span>                          
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Genero:</span>
                            <span class="input-group-text" th:text="${desaparecido.genero}"></span>
                        </div>
                    </div>
                </div>

                <!-- ROW 2 -->
                <div class="row">
                    <div class="caracteristicas">
                        <h2 class="caracteristicas">CARACTERISTICAS DA PESSOA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Altura:</span>
                            <span class="input-group-text" th:text="${desaparecido.altura}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Peso:</span>
                            <span class="input-group-text" th:text="${desaparecido.peso}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor dos olhos:</span>
                            <span class="input-group-text" th:text="${desaparecido.cOlho}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor do cabelo:</span>
                            <span class="input-group-text" th:text="${desaparecido.cCabelo}"></span>
                        </div>
                    </div>
                </div>
                <!-- ROW 3 -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cor da Pele:</span>
                            <span class="input-group-text" th:text="${desaparecido.cPele}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Sinais:</span>
                            <span class="input-group-text" th:text="${desaparecido.sinais}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Roupas:</span>
                            <span class="input-group-text" th:text="${desaparecido.roupa}"></span>
                        </div>
                    </div>
                </div>

                <!-- ROW 4 (LOCAL DE DESAPARECIMENTO) -->
                 <br>
                <h1 class="sDesaparecimento">SOBRE O DESAPARECIMENTO</h1>
                <br>
                <h2 class="local">LOCAL:</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">CEP:</span>
                            <span class="input-group-text" th:text="${desaparecido.cep}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Estado:</span>
                            <span class="input-group-text" th:text="${desaparecido.estado}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cidade:</span>
                            <span class="input-group-text" th:text="${desaparecido.cidade}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Bairro:</span>
                            <span class="input-group-text" th:text="${desaparecido.bairro}"></span>
                        </div>
                    </div>
                </div>
                <!-- ROW 5 -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Logradouro:</span>
                            <span class="input-group-text" th:text="${desaparecido.logradouro}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Complemento:</span>
                            <span class="input-group-text" th:text="${desaparecido.complemento}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Numero:</span>
                            <span class="input-group-text" th:text="${desaparecido.numero}"></span>
                        </div>
                    </div>
                </div>

                <!-- ROW 6 -->
                <div class="row">
                    <div class="circunstancias">
                        <h2 class="circunstancias">CIRCUNSTANCIAS E DATA:</h2>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Circunstancias:</span>
                            <span class="input-group-text" th:text="${desaparecido.circunstancias}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data do Desaparecimento:</span>
                            <span class="input-group-text" th:text="${desaparecido.dataDesaparecimento}"></span>
                        </div>
                    </div>
                </div>

                <!-- ROW 8 -->
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Complemento:</span>
                            <span class="input-group-text" th:text="${desaparecido.complementoCaso}"></span>
                        </div>
                    </div>
                </div>

                <!-- ROW 9 -->
                <div class="row">
                    <div class="contato"> <br> 
                    <h2 class="contato">CONTATO:</h2>
                </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Email:</span>
                            <span class="input-group-text" th:text="${desaparecido.email}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Telefone:</span>
                            <span class="input-group-text" th:text="${desaparecido.telefone}"></span>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <footer th:replace="fragments/footerInformacoes :: footer"></footer>



    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <script src="js/mascaras.js"></script>
    <script src="js/apiCep.js"></script>
    <script src="js/validacaoNascimento.js"></script>
</body>

</html>