<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="author" content="Isac Da Costa Brito" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World em Spring</title>

    <!-- CSS -->
    <link href="css/estilos.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <marquee>
        <h1>Olá, Mundo em SPRING!!</h1>
    </marquee>
    <hr>
    <div class="imagem">
        <figure>
            <img src="img/cafezin.jpg" alt="Imagem do café">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>